<%- include("part/header.ejs") %> <%- include("part/navbar.ejs") %>

<h1>Homepage</h1>
<h3><%= 'Hello world'.toUpperCase() %></h3>
<div>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis aspernatur nemo obcaecati facilis deserunt
    tempore repellat, asperiores enim ad est.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium iste, optio quos repudiandae debitis velit sit
    hic exercitationem deleniti repellendus consectetur eveniet praesentium aperiam atque consequatur non nemo doloribus
    magnam. Odit libero voluptatibus nisi explicabo ratione ex! In, animi quas.
  </p>
</div>

<%- include("part/footer.ejs") %>
